front/node_modules/
front/dist/
backend/vendor/
backend/.env
backend/node_modules/
backend/storage/framework/
backend/storage/logs/
backend/storage/app/
backend/bootstrap/cache/
*.log
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
